<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="~/Content/Site.css"/>

        <title></title>
    </head>

    <body>

        @Html.ActionLink("На главную", "Index", "Home")

        <br />

        @Html.ActionLink("Посмотреть всех покупателей", "Purchase", "Home")

        <br />

        @RenderBody()

    </body>
</html>
